@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
}

header {
  background-color: #600080;
  position: sticky;
  top: 0px;
  font-family: "Syncopate", sans-serif;
  color: #fff;
  font-size: 32px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.headerMenu {
  height: 100%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 90%;
  border-left: solid 1px #fff;
  background-color: #400050;
  color: #fff;
  font-family: "Syncopate", sans-serif;
}

div.headerMenu {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

div.headerTitle {
  width: auto;
  padding: 4px;
}

.contentColumn {
  background-image: url(backgroundGalaxy.jpg);
  height: 90%;
  display: grid;
  grid-template: 1fr / 1fr 60% 1fr;
}

p {
  grid-column: 2/3;
  background-color: #44444444;
  color: #aaa;
}

div.sideNavigation {
  display: flex;
  flex-direction: column;
}

a.sideNavigation {
  height: 12vh;
  width: 12vh;
  color: #fff;
  display: block;
  background: url(menuLogo.png) transparent;
  background-size: contain;
  text-align: center;
  font-size: 60%;
  line-height: 12vh;
  text-decoration: none;
  font-family: "Syncopate";
}

