@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #600080;
}

ul {
  font-family: "Syncopate", sans-serif;
  color: #fff;
  font-size: 32px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
}

li {
  width: auto;
  font-family: syncopate;
  padding-left: 4px;
  padding-right: 4px;
}

.body{
  background-image: url(backgroundGalaxy.jpg);
  height: 90%;
  display: flex;
  justify-content: center;
}

p{
  background-color:#44444444;
  width: 60%;
  color: #aaa;
}