@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
  text-decoration: none;
}

header {
  background-color: #600080;
  position: sticky;
  top: 0px;
  font-family: "Syncopate", sans-serif;
  color: #fff;
  font-size: 32px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow:#000 0px 8px 16px,
  inset #000 0px -2px 4px,
  inset #000 0px 2px 4px;
}

a.headerMenu {
  height: 100%;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  font-size: 90%;
  /*border-left: solid 1px #fff;*/
  background-color: #400050;
  color: #fff;
  font-family: "Syncopate", sans-serif;
  box-shadow: inset #000 4px 0px 12px,
  inset #000 -4px 0px 12px;
}

a.headerMenu:hover {
  box-shadow: #000 4px 0px 12px,
  #000 -4px 0px 12px;
  border-radius: 16px;
}

div.headerMenu {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

a.headerTitle {
  width: auto;
  padding: 4px;
  color: inherit;
}

.contentArea {
  background-image: url(backgroundGalaxy.jpg);
  height: 90%;
  display: grid;
  width: 100VW;
  grid-template: 1fr / 1fr 30% 30% 1fr;
}

div.contentColumn {
  grid-column: 2/4;
  background-color: #44444488;
}

div.mainContentFlexLeft {
  display: flex;
  flex-flow: column;
  grid-column: 2/3;
  padding-right: 4px;
}
div.mainContentFlexRight {
  display: flex;
  flex-flow: column;
  grid-column: 3/4;
  padding-left: 4px;
}

div.mainContentText {
  background-color: #600080;
  width: 100%;
  height: auto;
  margin: 8px;
  border: inset 5 5 #fff;
  font-family: 'inconsolata', monospace;
  color: #ccc;
  border-radius: 5px;
  font-size: 32px;
  padding: 4px;
}
.mainContentImage {
  background-color: #400050;
  width: 100%;
  height: auto;
  margin: 8px;
  border-radius: 5px;
}

h1 {
  color: #aaa;
}
p {
  color: #aaa;
}

div.sideNavigation {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 44px;
  width: max-content;
  height: max-content;
}

a.sideNavigation {
  height: 12vh;
  width: 12vh;
  color: #fff;
  display: block;
  background: url(menuLogo2.png) transparent;
  background-size: contain;
  text-align: center;
  font-size: 60%;
  line-height: 12vh;
  text-decoration: none;
  font-family: "Syncopate";
  box-shadow: #000 inset 6px 6px 16px,
  #000 inset -6px -6px 16px;
}
a.sideNavigation:hover{
  box-shadow: none;
}

div.voteGrid{
  grid-column: 2/4;
  display: grid;
  height: 95vh;
  grid-template-columns: 40% 1fr 40%;
  grid-template-rows: 1fr 1fr 10vh 20vh 1fr;
}

div.thumbsUp{
  grid-row: 3/4;
  grid-column: 0/1;
  display: flex;
  justify-content: right;
}
img.thumbsUp{
  width: 10vh;
  height: 10vh;
}
img.thumbsUp:hover{
  box-shadow: #fff 0px 0px 16px;
}

img.thumbsDown{
  height: 10vh;
  width: 10vh;
}
img.thumbsDown:hover{
  transform: rotate(180deg);
  box-shadow: #fff 0px 0px 16px;
}

div.thumbsDown{
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  align-items: flex-end;
  width: 10vh;
}

div.thumbsDown:hover{
  grid-row:3/5;
}

h1{
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  font-family: "Syncopate", sans-serif;
}

@media (max-width: 600px)
{
  .thing {
    grid-template-columns: 1fr;
  }
}